#application {
  /* background-color: white; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* width: 705px; */
  /* height: 600px; */
}
#body {
  background-color: rgb(253, 215, 169);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#form {
  margin: auto;
  border-radius: 10px;
  height: fit-content;
  background-color: antiquewhite;
}
#name {
  display: flex;
  background-color: rgb(176, 242, 242);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 40px;
}

#email {
  display: flex;
  background-color: rgb(239, 236, 164);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 40px;
}
#educationtype {
  background-color: rgb(204, 204, 204);
  width: 308px;
  height: 25px;
  border-radius: 6px;
}
#address {
  display: flex;
  background-color: rgb(229, 155, 208);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  width: 660px;
}
#city {
  display: flex;
  background-color: rgb(183, 230, 171);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  width: 660px;
}
#footer {
  display: flex;
  background-color: rgb(230, 209, 161);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 40px;
  width: 660px;
}
input[type="text"] {
  background-color: rgb(234, 222, 222);
  width: 300px;
  height: 25px;
  border-radius: 6px;
}
